@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherapp{
    width:350px;
    border-radius: 10px;
    border:1px solid black;
    margin:auto;
}
.weatherapp> .input{
    width:90%;
    margin:15px auto 10px;
    /* height:35px; */
    border:2px solid hsl(195, 53%, 59%);
    display: flex;
    /* justify-content: center;*/
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.input > input{
    height:100%;
    flex-grow: 1;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
}

.input> button{
    border:none;
    background-color: white;
}
.weatherapp > .input > button > img{
    margin:5px;
    width:20px;
}

.imagestats{
    width:40%;
    height:40%;
    margin:0px auto;
    display: block;
}

.tempstats,.citystats,.countrystats{
    text-align: center;
}

.countrystats{
    font-size: 18px;
}

.stats{
    display: flex;
    justify-content: space-around;
    margin:10px 100px;
}

.humidityspeed{
    display: flex;
    justify-content: space-between;
    margin:10px 40px;
}




